
<h>Test</h>
<span>@DateTime.Now</span>
<br/>
<br />

<a href="/Test">next page</a>
<br />
<br />

<div ng-app="mApp">
    <div ng-controller="testController">
        <span>load items</span>
        <input type="text" ng-model="testParams.count"/><span>{{testParams.count}}</span> <button>get</button>
    
        <div>
            <ul>
                <li ng-repeat="item in items">
                    <span>name: {{item.name}} email: {{item.email}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    angular.module('mApp', []);
</script>
<script src="~/js/angular/controllers/testController.js"></script>