@using System.Collections.Generic
@using Microsoft.Extensions.Options
@using UserAuth_Template.ModelCore.Entities
@using UserAuth_Template_AspNetCore.Web

@inject IOptions<DataOptions> dataOptions

@model UsersViewModel

<h>users @($"show {dataOptions.Value.UserCount}")</h>

@foreach (var user in Model.Users)
{
    <div>@($"{user.ID} - {user.Name} - {user.Email}")</div>
}


